.main {
  height: 100vh;
  width: 100%;
  padding: 15px;
  display: flex;
}

.leftbox {
  width: 100%;
  border-right: 2px solid black;
  padding-right: 5%;
}

.rightbox {
  width: 100%;
  padding-left: 5%;
}

.imgContainer {
  display: flex;
  width: 150px;
  height: 100%;
}

.centerBox {
  margin: 100px auto;
}